@{
    ViewBag.Title = "Home Page";
}

<div ng-app="HomeApp" ng-controller="HomeCtrl" id="popupContainer" ng-cloak class="modal-demo">
    <div class="spinner" data-ng-if="loading">
        <br /><br /><br /><br /><br /><br /><br /><br />
        <md-progress-circular md-mode="indeterminate" md-diameter="100" class="md-warn md-hue-3"> </md-progress-circular>
    </div>
    <br />

    @*<div>
        <br /><br /><br />
        <form name="formTest" novalidate>
            <label style="font:bold">Mensaje usuario:</label>
            <input type="text" class="form-control text-center" placeholder="Mensaje" required ng-model="UserMessage" maxlength="20" />
            <button class="btn btn-primary" ng-click="SendMessage()">Enviar</button>
            <label style="color:blue">{{NotificationMessage}}</label>
        </form>
        <br />
    </div>*@

    <div>
        <label style="font:bold">Inflación No subyacente&nbsp;</label>
        <button class="btn btn-primary" ng-click="GetSerie()">Obtener Serie</button>        
        <br />
        <table class="table">
            <thead>
                <tr style="font-weight:bold;font-size:14px">
                    <td>Fecha</td>
                    <td>Inflación</td>
                </tr>
            </thead>
            <tbody style="font-size:12px">
                <tr ng-repeat="r in NonCoreInflation">
                    <td>{{r.Date}}</td>
                    <td>{{r.Data}}</td>
                </tr>
            </tbody>
        </table>
        <label style="color:blue">{{NotificationMessage}}</label>
    </div>
</div>

<script type="text/javascript" src="~/ClientApp/HomeController.js"></script>
<script type="text/javascript" src="~/ClientApp/HomeService.js"></script>