.spinner {
    background: rgba(0,0,0,0.5);
    position: fixed;
    display: block;
    left: 0%;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2000;
}

.spinner span {
    position: fixed;
    left: 50%;
    top: 40%;
    border: solid 5px #ccc;
    border-radius: 25px;
    display: block;
    padding: 20px 40px;
    margin-left: -40px;
    background: rgba(255,255,255,50);
}
